@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my website for analysing Fantasy Premier League statistics and learning Azure Dev Ops.</p>
    <p>More features coming soon!</p>
</div>
