@page
@model Ultimate.Fpl.Ui.Pages.MyTeam.ClearModel
@{
    ViewData["Title"] = "Clear My Team";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Team ID cleared successfully.</p>
</div>